.form {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-row {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 15px 0 15px 20px;
    width: 100%;
    border: 1px solid lightgrey;
    font-size: 16px;
    font-weight: normal;
}

.form-row:focus-within {
    border-left: 5px solid #3A52F4;
}

.form-row > label {
    width: 90%;
}

.form-row > input {
    border: none;
    width: 90%;
    color:#3A52F4;
    vertical-align: bottom
}

input:focus{
    outline: none;
}

.remmemberme {
    margin-top: 20px;
}

.remmemberme > label {
    color: #898A9C;
}

.forget {
    float: right;
    color: #898A9C;
    text-decoration: none;
}


